@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
    font-family: 'Poppins', sans-serif;
}

.input-group {
    input.form-control {
    height: 56px;
    border-left: 0;
    }
    &:focus{
        box-shadow: none !important;
        outline: none !important;
    }
    .form-control{
        border-radius: 10px;
    }
    .input-group-text {
        color: #3FAEFD;
        background-color: #fff;
        width: 65px;
        justify-content: center;
        font-size: 22px;
    }
}


.page-wrapper{
    background-color: #659DBD;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    .container{
        width: 1217px;
        height: 100%;
        .dc-lead-form{
            background-color: #EBF0F4;
            padding: 15px 30px;
            border-radius: 7px;
            .title{
                font-size: 30px;
            }
            .page-title-button{
                border: 0.5px solid #ddd;
                width: 14%;
                padding: 10px;
                border-radius: 10px;
                background: transparent;
                color: #DF3737;
                transition: all ease .3s;
                &:hover {
                    background: #df3737 !important;
                    color: #fff !important;
                    transition: all ease .3s;
                }
            }
        }
    }
}

@media (max-width: 575px) {
    
    .page-wrapper {
        height: 100%;
        padding: 10px;
        .container{
            max-width: 545px;
        }
    }
    .page-title-button{
        width: auto !important;
    }
}